// Standard Colors
$yellow-dark: #f3cc0f;

$yellow: #e1d86c;
$red: #b80f0a;
$green: #467a05;
$black: #222222;
$white: #eeeeee;

$green: #467a05;

$blue-dark: #163cfc;
$blue-light: #9cdfdc;
$blue-lighter: #b6dcff;
$blue-lightest: #c6dbe9;

$pink-dark: #a28af4;
$pink-light: #e6c4f8;
